.navbar {
    width: 1536px;
    height: 100px;
    background-color: #fbb92a;
    display: flex;
    flex-direction: row;
   
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
 
  .navbar .leftSide img {
    max-width: 100px;
    height: auto;
    
  }
  
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: rgb(238, 66, 66);
    text-decoration: none;
    margin: 30px;
  }

  .navbar p{
    color: aliceblue;
    font-size: xx-small;
    padding: 0% 5% 1% 5% ;
    text-decoration:none;

  }
 


  

  
  
