.MainPage {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.halalmeat {
width: 100%;
height: auto; 
}


.red {

text-shadow: 0px 0px 10px white;

font-weight: bold;
} 
.numbers{

width: 100%;
height: auto;
gap: 7%; 

}
.home{

border-color: rgba(220, 87, 87, 1)red  ;
border-width:5px ;

}
.order-button{
color: rgba(220, 87, 87, 1);
font-weight: bold;
padding: 10px 20px;
border: none;
border-radius: 5px;
margin-top: 10px;
margin-left: 2%;
cursor: pointer;
background-color:rgba(252, 203, 76, 1);
text-shadow: 0px 0px 10px rgba(220, 87, 87, 1)red;
}
.btn{
display: flex;
gap: 12%; 
font-size: large;

}
.full{
border-style:solid;
border-color: rgba(252, 203, 76, 1);
border-width: 5px;

}

.h{
color:rgba(220, 87, 87, 1);
background-color: rgba(252, 203, 76, 1);
padding: 5px 5px 2px 2px; 
background-size: 50% 100%;
font-size: xxx-large;
}

.menü-names{
color: red;
font-weight: bold;
font-size: x-large;
gap: 15%;
margin-left: 3%;
}

