.navbar {
  background-color: rgba(252, 203, 76, 1);
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.navbar .row {
  padding-left: 1%;
  color: rgba(220, 87, 87, 1);
  font-size: xxx-large;
}


.navbar .aciktim {
  display: flex;
  align-items: center;
  font-size: 50px;
  text-decoration: none; /* Altı çizgiyi kaldırma */
}

.navbar .burger {
  font-size: 100px;
}

.navbar a {
  padding: 5%;
  color: rgba(220, 87, 87, 1);
  font-size: large;
}

.navbar .logo {
  font-size:50px;
  width: 50px;
}

.navbar .link {
  display: flex;
  flex-direction: column;
}

.navbar .links {
  display: flex;
  flex-direction: row;
}