.navbar {
  width: 20%;
  height: 20%;
  background-color: rgba(252, 203, 76, 1);
  display: flex;
  flex-direction: row;
 
}

.navbar .row {
  flex: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.navbar .row img {
  max-width: 100%;
  height: auto;
  
}

.navbar .col {
  flex: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: rgb(238, 66, 66);
  text-decoration: none;
  margin: 30%;
}

.navbar p{
  color: aliceblue;
  font-size: xx-small;

}







