.SignIn > form {
    color: E9DAD9;
    
}
.SingIn {
    padding: 5% 20% 5% 20% ;
}

form {
    background-color: rgba(233, 218, 217, 0.56);
    align-items: center;
}

.Item{
    font-weight: bold;
    margin-left: 10%;
}

input,label, textarea{
    width: 70%;
    margin-left: 10%;
    border: none;    
}

input,label{
    height: 40px;
}

textarea {
    height: 60%;
}

h1{
    text-align: center ;
    /* text-shadow:2px 2px 2px  black;
    color: white;
    display:"inline-block"; */
    color: black;
}

.btn button{
    margin-left: 40%;
    width: 100%;
    background-color: white;
    border: none;
    font-weight: bold;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.error {
    color: red;
}

.eyeBtn {
    background-color: rgba(233, 218, 217, 0.56);
    border: none;
}

.eye:hover {
    color: white;
}